[data-slot="container"] {
  @apply w-full;
}

[data-slot="badge"] {
  @apply focus:ring-ring inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold focus:ring-2 focus:ring-offset-2 focus:outline-hidden;

  &[data-variant="primary"] {
    @apply bg-primary hover:bg-primary/80 text-primary-foreground border-transparent;
  }
  &[data-variant="secondary"] {
    @apply bg-secondary hover:bg-secondary/80 text-secondary-foreground border-transparent;
  }
  &[data-variant="destructive"] {
    @apply bg-destructive hover:bg-destructive/80 text-destructive-foreground border-transparent;
  }
  &[data-variant="outline"] {
    @apply text-foreground;
  }
}
[data-slot="button"] {
  @apply focus-visible:ring-ring ring-offset-background inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-hidden disabled:pointer-events-none disabled:opacity-50 cursor-pointer;

  &[data-variant="primary"] {
    @apply bg-primary text-primary-foreground hover:bg-primary/90 no-underline;
  }
  &[data-variant="secondary"] {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80 no-underline;
  }
  &[data-variant="outline"] {
    @apply border-input hover:bg-accent hover:text-accent-foreground border no-underline;
  }
  &[data-variant="destructive"] {
    @apply bg-destructive text-destructive-foreground hover:bg-destructive/90 no-underline;
  }
  &[data-variant="ghost"] {
    @apply hover:bg-accent hover:text-accent-foreground no-underline;
  }
  &[data-variant="link"] {
    @apply text-primary underline-offset-4 hover:underline;
  }
  &[data-size="default"] {
    @apply h-10 px-4 py-2;
  }
  &[data-size="sm"] {
    @apply h-9 rounded-md px-3;
  }
  &[data-size="lg"] {
    @apply h-11 rounded-md px-8;
  }
  &[data-size="icon"] {
    @apply size-12 rounded-md p-3 md:size-14;
  }
  &[data-size="icon-sm"] {
    @apply size-10 rounded-md p-2 md:size-12;
  }
  &[data-size="none"] {
    @apply p-0;
  }
}
