---
import { Icon } from "astro-icon/components";
import { info } from "@/data/info";
import { ICON_SIZE } from "@/utils/constants";
import { createLogo } from "@/utils/logo";
---

<header
  data-slot="container"
  class="mb-16 flex h-20 items-center justify-between space-x-4 md:h-28"
  aria-label="Header"
>
  <a class="font-outfit text-2xl font-semibold no-underline! transition-colors duration-100" href="/"
    >{createLogo(info.name)}.</a
  >
  <nav class="flex flex-row items-center space-x-4 sm:space-x-8" aria-label="Navigation">
    <a
      class={Astro.url.pathname === "/projects"
        ? "text-foreground/90 no-underline!"
        : "text-foreground/70 hover:text-foreground/90 transition-colors no-underline!"}
      href="/projects">Projekte</a
    >
    <button id="theme-toggle" data-slot="button" data-variant="ghost" data-size="icon-sm" aria-label="Theme Switch">
      <Icon class="dark:hidden" name="moon" size={ICON_SIZE} aria-hidden="true" />
      <Icon class="hidden dark:block" name="sun" size={ICON_SIZE} aria-hidden="true" />
    </button>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    document.getElementById("theme-toggle")?.addEventListener("click", () => {
      document.documentElement.classList.toggle("dark");
    });
  });
</script>
