---
import { ThemeToggle } from "@/components/general/ThemeToggle";
import { info } from "@/data/info";
import { createLogo } from "@/utils/logo";
---

<header class="container mb-16 flex h-20 items-center justify-between space-x-4 md:h-28" aria-label="Header">
  <a class="font-outfit text-2xl font-semibold !no-underline transition-colors duration-100" href="/"
    >{createLogo(info.name)}.</a
  >
  <nav class="flex flex-row items-center space-x-4 sm:space-x-8" aria-label="Navigation">
    <a
      class={Astro.url.pathname === "/projects"
        ? "text-foreground/90 !no-underline"
        : "text-foreground/70 hover:text-foreground/90 transition-colors !no-underline"}
      href="/projects">Projekte</a
    >
    <div>
      <ThemeToggle client:only />
    </div>
  </nav>
</header>

<script>
  const theme = localStorage.getItem("theme");

  if (theme === "dark") {
    document.body.classList.add("dark");
  }

  document.addEventListener("astro:after-swap", (event) => {
    const theme = localStorage.getItem("theme");

    if (theme === "dark") {
      document.body.classList.add("dark");
    } else {
      document.body.classList.remove("dark");
    }
  });
</script>
