---
import PageHeader from "@/components/general/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";

const title = "Impressum";
---

<Layout frontmatter={{ title: title, description: "Impressum für felix-hoffmann.dev", label: "Impressum" }}>
  <PageHeader title={title} description="Wer ist für diese Seite verantwortlich?" />
  <article class="prose max-w-none dark:prose-invert">
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>
      Felix Hoffmann<br />
      Ernsthaldenstra&szlig;e 43<br />
      B407<br />
      70565 Stuttgart
    </p>

    <h2>Kontakt</h2>
    <p>
      Telefon: <a href="tel:+4917621470118">+49 176 214 70118</a><br />
      E-Mail: <a href="mailto:post@felixemmanuel.de"> post@felixemmanuel.de</a>
    </p>

    <h2>EU-Streitschlichtung</h2>
    <p>
      Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
        href="https://ec.europa.eu/consumers/odr/"
        target="_blank"
        rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a
      >.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.
    </p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>
      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.
    </p>

    <p>
      Quelle: <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank" rel="noopener noreferrer"
        >https://www.e-recht24.de/impressum-generator.html</a
      >
    </p>
  </article>
</Layout>
