---
import PageHeader from "@/components/general/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";

const title = "Impressum";
---

<Layout frontmatter={{ title: title, description: "Impressum für felix-hoffmann.dev", label: "Impressum" }}>
  <div class="mx-auto max-w-prose">
    <PageHeader title={title} description="Wer ist für diese Webseite verantwortlich?" />
  </div>
  <article class="prose dark:prose-invert mx-auto">
    <p>
      Felix Hoffmann<br />
      c/o Christina Ohnrich<br />
      Taborstraße 17<br />
      10997 Berlin
    </p>

    <h2>Kontakt</h2>
    <p>
      E-Mail: <a href="mailto:post@felix-hoffmann.dev">post@felix-hoffmann.dev</a>
    </p>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <p>
      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.
    </p>

    <p>
      Quelle: <a href="https://www.e-recht24.de" target="_blank" rel="noopener noreferrer">https://www.e-recht24.de</a>
    </p>
  </article>
</Layout>
