---
import PageHeader from "@/components/general/PageHeader.astro";
import Layout from "@/layouts/Layout.astro";

const title = "Datenschutz";
---

<Layout frontmatter={{ title: title, description: "Datenschutz für felix-hoffmann.dev", label: "Datenschutz" }}>
  <PageHeader title={title} description="Wie verarbeite ich deine Daten?" />
  <article class="prose max-w-none dark:prose-invert">
    <p>Diese Seite befindet sich im Aufbau.</p>
  </article>
</Layout>
