---
import { Experience, ExperienceGroup } from "@/components/home/Experience";
import { IExperience, IExperiences } from "@/types";

const defaultNumEntries = 3;

interface Props {
  title: IExperiences["title"];
  details: IExperiences["details"];
}

const { title, details } = Astro.props;
---

<section class="flex flex-col items-start justify-between gap-8 sm:flex-row md:gap-4">
  <h2 class="w-[15rem] text-xl uppercase">{title}</h2>
  <div class="w-full space-y-16">
    {details.slice(0, defaultNumEntries).map((detail: IExperience) => <Experience item={detail} />)}
    {
      details.length > defaultNumEntries && (
        <ExperienceGroup details={details} defaultNumEntries={defaultNumEntries} client:load />
      )
    }
  </div>
</section>
