---
import { IExperience, IExperiences } from "@types";
import { Experience, ExperienceGroup } from "./Experience";

const defaultNumEntries = 3;

const { title, details } = Astro.props as { title: IExperiences["title"]; details: IExperiences["details"] };
---

<section class="flex flex-col items-start justify-between dark:text-light sm:flex-row">
  <h2 class="mt-16 w-[15rem] uppercase">{title}</h2>
  <div class="w-full">
    {details.slice(0, defaultNumEntries).map((detail: IExperience) => <Experience item={detail} />)}
    {
      details.length > defaultNumEntries && (
        <ExperienceGroup details={details} defaultNumEntries={defaultNumEntries} client:idle />
      )
    }
  </div>
</section>
