---
import Experience from "@/components/home/Experience.astro";
import type { IExperience, IExperiences } from "@/types";

const defaultNumEntries = 3;

interface Props {
  title: IExperiences["title"];
  details: IExperiences["details"];
}

const { title, details } = Astro.props;
---

<section class="flex flex-col items-start justify-between gap-8 sm:flex-row md:gap-4">
  <h2 class="w-60 text-xl uppercase">{title}</h2>
  <div class="w-full space-y-16">
    {details.slice(0, defaultNumEntries).map((detail: IExperience) => <Experience item={detail} />)}
    {
      details.length > defaultNumEntries && (
        <details class="p-0">
          <summary class="-mt-4 cursor-pointer">Mehr Anzeigen</summary>
          <div class="mt-8 space-y-16">
            {details.slice(defaultNumEntries).map((detail: IExperience) => (
              <Experience item={detail} />
            ))}
          </div>
        </details>
      )
    }
  </div>
</section>
