---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p class="mt-[117px]">Hey, ich bin</p>
  <h1>{name}</h1>
  {about.map((paragraph) => <p class="text-lg mb-2 last:mb-16">{paragraph}</p>)}
</section>
