---
import { IHeroProps } from "@/types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p>Hey, ich bin</p>
  <h1 class="my-4 text-7xl md:text-8xl">{name}</h1>
  {about.map((paragraph) => <p class="mb-2 text-lg last:mb-16">{paragraph}</p>)}
</section>
