---
import Layout from "@layouts/Layout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const projectEntries = await getCollection("projects", ({ data }) => {
    return !data.draft && data.pubDatetime < new Date();
  });

  return projectEntries.map((post) => ({
    params: { slug: post.slug },
    props: { entry: post },
  }));
}

const {
  entry,
  entry: { data },
} = Astro.props as { entry: CollectionEntry<"projects"> };
const { Content } = await entry.render();
---

<Layout frontmatter={{ title: data.title, description: data.description }}>
  <article class="prose lg:prose-xl">
    <h1>{data.title}</h1>
    <Content />
  </article>
</Layout>
