---
import Layout from "@layouts/Layout.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
---

<Layout title="Projekte" description="Übersicht über meine Projekte.">
  <h1 style="line-height: 1.2;">Projekte</h1>
  <ProjectsWrapper />
</Layout>
