---
import "@fontsource/inter";
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/outfit";
import "@fontsource/outfit/300.css";
import "@fontsource/outfit/400.css";
import "@fontsource/outfit/600.css";
import "@fontsource/outfit/700.css";

import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import MetaHead from "@components/general/MetaHead.astro";

import "../styles/style.css";

const { frontmatter } = Astro.props as { frontmatter: { title: string; description: string } };
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <MetaHead
      title={frontmatter.title}
      description={frontmatter.description}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Navbar />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
