name: Prettier and ESLint

on:
  pull_request:
    branches: [main]

jobs:
  style:
    name: Prettier and ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Biome
        run: pnpm biome check
      - name: Run TypeScript check
        run: |
          pnpm astro sync
          pnpm run check
