name: Prettier and ESLint

on:
  pull_request:
    branches: [main]

jobs:
  style:
    name: Prettier and ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --ignore-scripts
      - name: Run Biome
        run: pnpm biome check
      - name: Run TypeScript check
        run: |
          pnpm astro sync
          pnpm run check
